@import "tailwindcss";
@import "lenis/dist/lenis.css";


body{
  background-color: rgb(32, 32, 32);
  color:white
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}